{% extends "base.html" %}


{% block content %}
  <h1 class="my-3 text-center">Category: {{category.name}}</h1>
  <a class="btn btn-info" href="{% url 'pim:product_create' %}">Create New Product</a>
  <hr>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Product Code</th>
        <th scope="col">Product Name</th>
        <th scope="col">Product Price</th>
        <th scope="col">Deletion</th>
      </tr>
    </thead>
    {% for product in products %}
      <tbody>
        <tr>
          <td>{{product.product_Code}}</td>
          <td>{{product.name}}</td>
          <td>{{product.price}}</td>
          <td>
            <a class="btn btn-primary btn-sm" href="{% url 'pim:product_update' pk=product.pk %}">Update</a>
            <a class="btn btn-danger btn-sm" href="{% url 'pim:product_delete' pk=product.pk %}">Delete</a>
           </td>
        </tr>
      </tbody>
    {% empty %}
      <h5 class="text-center">No Products Yet!</h5>
    {% endfor %}
  </table>
<div class="text-center">
  <div class="pagination">
    <span class="step-links">
      {% comment %} display previos button and first button {% endcomment %}
      {% if products.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page={{ products.previous_page_number }}">Previous</a>
      {% endif %}
      {% comment %} display number pages {% endcomment %}
      {% for num in products.paginator.page_range %}
        {% if products.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}
      {% comment %} display a netx and Last buttom  {% endcomment %}
      {% if products.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ products.next_page_number }}">Next</a>
      {% endif %}
    </span>
  </div>
</div>

{% endblock %}
