{% extends "base.html" %}


{% block content %}
  <h1 class="my-3 text-center">Categories</h1>
  <a class="btn btn-outline-secondary" href="{% url 'pim:category_create' %}">Create A New Category</a>
  <hr>



<div class="row">
  <div class="col-4">
    {% for category in object_list %}
      <div class="sidenav">
        <a href="{{category.get_absolute_url}}">{{category.name}}</a>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
<!-- <li class="list-group-item" style="width: 20%;"><a href="{{category.get_absolute_url}}">{{category.name}}</a></li> -->
